.counter {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--secondaryBackground);
  padding: 11px 22px;
  max-width: 163px;
  border-radius: 66px;
}

.counter button {
  background-color: inherit;
  border: none;
  display: flex;
}

.counter button[disabled]{
  opacity: 0.5;
}

.counter span {
  font-size: 20px;
}

.counter button:not(.counter button[disabled]):hover svg path {
  fill: #000;
}

.counter button svg {
  min-width: 15px;
}

.counter button svg path {
  min-width: 100%;
}
